<a href="{{ path('privacy_policy') }}" style="color:#2473BA">{{ 'app.footer.links.privacy_policy' | trans }}</a> |
<a href="{{ path('cookie_policy') }}" style="color:#2473BA">{{ 'app.footer.links.cookie_policy' | trans }}</a> |
<a href="{{ path('disclaimer') }}" style="color:#2473BA">{{ 'app.footer.links.disclaimer' | trans }}</a>
<br/><br>
<p class="text-center">
  <small>{{ 'app.footer.links.from_yappa' | trans | raw }}</small>
</p>
